@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --linear: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    margin-right: 30px;
    margin-left: 30px;
}

.section.cc-contact {
    padding-right: 80px;
    padding-left: 80px;
    background-color: #f4f4f4;
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* margin-bottom: 120px; */
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* background-color: transparent; */
    background: #fff;
    box-shadow: rgba(255, 110, 127, 0.1) 0px 20px 25px -5px, rgba(191, 233, 255, 0.04) 0px 10px 10px -5px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
}

.logo-image {
    font-weight: 600;
    font-size: 2rem;
    color: #1a1b1f;
}

.navigation-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.navigation-item {
    margin-right: 18px;
    text-decoration: none;
    color: #1a1b1f;
    font-weight: 500;
    /* opacity: 0.5; */
}

.navigation-item:nth-child(3) {
    background-color: #ff6e7f;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.navigation-item:nth-child(3):hover {
    background-color: #db4b68;
    color: #fff;
}

.current {
    color: #1a1b1f;
}

.menu-button {
    display: none;
}


/* INNTRO SECTION */

.intro {
    margin-top: 11rem;
    /* padding-top: 0.2rem; */
    /* padding-bottom: 0.2rem; */
    background: #fffffa;
}


/* .intro {
    transition: all ease 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.intro:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
} */

.intro-wrap {
    margin-top: 100px;
    margin-bottom: 140px;
}

.name-text {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}

.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}


/* .profile-pic {
    background-size: cover;
} */

.paragraph-light {
    opacity: 0.6;
    margin-bottom: 10px;
}

.heading-jumbo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 80px;
    text-transform: none;
}

h1 {
    /* font-size: 2em; */
    margin: 0.67em 0;
}

.resume {
    width: 100%;
    margin-top: 15px;
}

.resume a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
}

.resume .visit-btn {
    width: fit-content;
    padding: 1.2rem 2.4rem;
    border: 1px solid #db4b68;
    margin-right: 8px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.resume .visit-btn:hover,
.resume .outline-btn:hover {
    background-color: #db4b68;
    color: #fff;
}

.resume .outline-btn {
    background: none;
    color: #db4b68;
    border: 1px solid #db4b68;
}


/* PROJECT SECTION */

.works-grid {
    margin-bottom: 80px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: ". . ." ". . .";
    -ms-grid-columns: 1.5fr 30px 1fr 30px 1.5fr;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    -ms-grid-rows: auto 30px auto;
    grid-template-rows: auto auto;
}

.layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

#node-1 {
    /* -ms-grid-column: 1; */
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    /* -ms-grid-row: 1; */
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#node-2 {
    /* -ms-grid-column: 3; */
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    /* -ms-grid-row: 1; */
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#node-3 {
    /* -ms-grid-column: 1; */
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    /* -ms-grid-row: 2; */
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

#node-4 {
    /* -ms-grid-column: 2; */
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    /* -ms-grid-row: 2; */
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

.work-image.cc-work-1 {
    background-image: url(https://assets.website-files.com/5c6e6f4…/5cdbece…_portfolio%201%20-%20wide.svg);
    background-size: cover;
}

.work-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 460px;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #f4f4f4;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    text-decoration: none;
}

.inline-block {
    max-width: 100%;
    display: inline-block;
}

a {
    display: block;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #1a1b1f;
    text-decoration: underline;
}

.work-description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-name-link {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    text-decoration: none;
}

.paragraph-light {
    opacity: 0.8;
}

.career-headline-wrap {
    width: 70%;
    margin-bottom: 50px;
}

.career-headline-wrap h2 {
    font-size: 1.8rem;
    margin-bottom: 14px;
}

.work-experience-grid {
    margin-bottom: 140px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: ". . . .";
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.work-position-wrap {
    margin-bottom: auto;
}

.visit {
    margin-top: 5px;
}

.visit a {
    text-decoration: none;
}

.visit-btn {
    background-color: #ff6e7f;
    color: #fff;
    padding: 0.4rem 2rem;
    border-radius: 10px;
    font-weight: 600;
    width: 40%;
}

.contact {
    width: auto;
    padding: 30px 50px 40px;
}

.contact-headline {
    width: 100%;
}

.contact-headline h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
}

.contact-headline .paragraph-light {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.form {
    margin: 0 0 15px;
}

form {
    display: block;
    margin-top: 0em;
}

label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-form-grid {
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

#node-9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

.text-field {
    margin-bottom: 18px;
    padding: 21px 20px;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-transition: border-color 400ms ease;
    transition: border-color 400ms ease;
    font-size: 14px;
    line-height: 26px;
}

.input,
.select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    /* vertical-align: middle; */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

#node-10 {
    /* -ms-grid-column: 2; */
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    /* -ms-grid-row: 1; */
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#-node-11 {
    /* -ms-grid-column: 1; */
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    /* -ms-grid-row: 2; */
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

.text-field.cc-textarea {
    height: 200px;
    padding-top: 12px;
    border-radius: 10px;
}

.button {
    padding: 12px 25px;
    border-radius: 0px;
    background-color: #db4b68;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.s-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #db4b68;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

.status-message.cc-success-message {
    background-color: #12b878;
}

.status-message {
    padding: 9px 30px;
    background-color: #202020;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
}

.status-message.cc-error-message {
    background-color: #db4b68;
}

.status-message {
    padding: 9px 30px;
    background-color: #202020;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}

.footer-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.codenigga-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    text-decoration: none;
    text-transform: uppercase;
}

.inline-block {
    max-width: 100%;
    display: inline-block;
}

.datebox {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 400ms ease;
}

.footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.footer-item {
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .social-media-grid {
        grid-template-areas: ". ." ". ." ". ." ". .";
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    }
}

.portfolio {
    margin-top: 12rem;
    margin-bottom: 6rem;
}

.social-media-grid {
    margin-bottom: 30px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-rows: auto 30px auto;
    grid-template-areas: ". . . ." ". . . .";
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}


/* #w-node-8239d41d1e9d-dfddbee0 { */


/* -ms-grid-column: 1; */


/* grid-column-start: 1; */


/* -ms-grid-column-span: 1; */


/* grid-column-end: 2; */


/* -ms-grid-row: 1; */


/* grid-row-start: 1; */


/* -ms-grid-row-span: 1; */


/* grid-row-end: 2; */


/* } */

img {
    max-width: 100%;
    display: inline-block;
    border: 0;
}

#bouncyCircleX {
    animation: move-x 3s infinite ease;
    background-color: #ff6e7f;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border-radius: 50%;
    position: absolute;
    right: 50rem;
    top: 16rem;
}

#bouncyCircleY {
    animation: move-y 3s infinite ease;
    background-color: #ff6e7f;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border-radius: 50%;
    position: absolute;
    right: 30rem;
    top: 10rem;
}

@keyframes move-y {
    from {
        transform: translateY(2rem);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes move-x {
    from {
        transform: translatex(0);
    }
    to {
        transform: translateX(3rem);
    }
}

@keyframes move-z {
    from {
        transform: translateZ(0);
    }
    to {
        transform: translateZ(5rem);
    }
}
